body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("istockphoto-532390868-1024x1024.jpg");
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
div.wraper {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

     } 
  
  
  label{
margin-top: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
color: #fff;

}
input[type="name"],
input[type="age"],
input[type="height"],
input[type="bmr"],
input[type="gen"],
input[type="food"],
input[type="req"],

select{
padding: 10px;
margin: 5px 0;
width: 100%;
border: 1px solid black;
border-radius: 5px;


}

button{
padding: 10px;
background-color: blue;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
text-align: center;

}
button:hover{
background-color: blue;
text-align: center;
}